<h1>Play 🤔</h1>

<ul class="d-flex list-unstyled">
    <% @letters.each do |letter| %>
    <li class="p-2 m-1 bg-primary-subtle border rounded shadow-lg"><%= letter %></li>
    <% end %>
</ul>

<form action="score" method="post" data-turbo="false">
  <input type="text" placeholder="Your word" autocomplete="true" name="word" value="<%= params[:word] %>">
  <input type="submit" value="score">
  <%= hidden_field_tag :letters, @letters.split(" ") %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<div>
    <%= link_to "Home", root_path %>
</div>
